---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        <div class="post-list">
          {% for post in site.posts limit : 5 %}
          {% assign card_image = post.background | default: '/img/posts/1.jpg' %}
          <article class="post-card">
            <a class="post-card__media" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" aria-label="{{ post.title | escape }}">
              <img src="{{ card_image | prepend: site.baseurl | replace: '//', '/' }}" alt="" loading="lazy">
            </a>
            <div class="post-card__body">
              <h2 class="post-card__title">
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
              </h2>
              <p class="post-card__subtitle">
                {% if post.subtitle %}
                  {{ post.subtitle }}
                {% else %}
                  {{ post.excerpt | strip_html | truncatewords: 18 }}
                {% endif %}
              </p>
              <div class="post-card__meta">
                <span class="meta-chip"><em class="far fa-calendar-alt"></em>{{ post.date | date: '%b %d, %Y' }}</span>
                <span class="meta-chip"><em class="far fa-clock"></em>{% include read_time.html content=post.content %}</span>
              </div>
            </div>
          </article>
          {% endfor %}
        </div>

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
