---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">Posted by
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>
              on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html
              content=page.content %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container" {% if page.lang %}lang="{{ page.lang }}" {% endif %}>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}
        </div>
        <br><br>
        <div class="giscus-comments">
          <script src="https://giscus.app/client.js"
                  data-repo="{{ site.giscus.repo }}"
                  data-repo-id="{{ site.giscus.repo_id }}"
                  data-category="{{ site.giscus.category }}"
                  data-category-id="{{ site.giscus.category_id }}"
                  data-mapping="{{ site.giscus.mapping | default: 'pathname' }}"
                  data-strict="{{ site.giscus.strict | default: '0' }}"
                  data-reactions-enabled="{{ site.giscus.reactions_enabled | default: '1' }}"
                  data-emit-metadata="{{ site.giscus.emit_metadata | default: '0' }}"
                  data-input-position="{{ site.giscus.input_position | default: 'bottom' }}"
                  data-theme="{{ site.giscus.theme | default: 'preferred_color_scheme' }}"
                  data-lang="{{ site.giscus.lang | default: 'tr' }}"
                  crossorigin="anonymous"
                  async>
          </script>
          <noscript>Yorumları görüntülemek için lütfen JavaScript'i etkinleştirin (<a href="https://giscus.app">giscus</a> tarafından desteklenmektedir).</noscript>
        </div>
      </div>
    </div>
  </div>
